{
  "extends": ["next", "prettier", "plugin:tailwindcss/recommended", "next/babel", "next/core-web-vitals"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-var": "error",
    "no-html-link-for-pages": "off",
    "tailwindcss/classnames-order": "off"
  }
}
